<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
	<!-- Activates various annotations to be detected in bean classes -->
	<context:annotation-config />
	
	<!-- Scans the classpath for annotated components that will be auto-registered as Spring beans.
	 For example @Controller and @Service. Make sure to set the correct base-package-->
	
	<context:component-scan base-package="com.appCore.personnel.User.Controller" />	
	<context:component-scan base-package="com.appCore.personnel.CoreSystem" />	
	<context:component-scan base-package="com.appCore.personnel.Core.CodeChecker" />	
	<context:component-scan base-package="com.appCore.personnel.User.Service" />	
	<context:component-scan base-package="com.appCore.personnel.Core.Controller" />	
	<context:component-scan base-package="com.appCore.personnel.Core.Service" />	
	
	<context:component-scan base-package="com.appCore.personnel.Core.Job.Controller" />	
	<context:component-scan base-package="com.appCore.personnel.Core.Job.Service" />	
	
	<context:component-scan base-package="com.appCore.personnel.Core.Calendar.Controller" />	
	<context:component-scan base-package="com.appCore.personnel.Core.Calendar.Service" />	
	<context:component-scan base-package="com.appCore.personnel.Core.Helpers" />	
	
	<context:component-scan base-package="com.appCore.reportingService" />	
	
	<context:component-scan base-package="com.appCore.payroll" />	

	<!--
	<context:component-scan base-package="com.appCore.reportingService.Controller" />	
	<context:component-scan base-package="com.appCore.reportingService.Service" />	 -->
	
 <!-- Configure the multipart resolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="10000000"/>
    </bean>	
	
	<!-- Configures the annotation-driven Spring MVC Controller programming model.
	Note that, with Spring 3.0, this tag works in Servlet MVC only!  -->
	<mvc:annotation-driven /> 
	
	<!-- Load Hibernate related configuration -->
	<import resource="hibernate-context.xml" />
	
</beans>
