.maintenanceCommand {
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    padding: 12px 0 30px 0px;
    width: 76%;
}

#maintenanceCommand button {
    background-color: #000000;
    border-style: none;
    color: #FFFFFF;
    font-size: 13px;
    margin: 4px 6px 2px 0px;
    padding: 6px 12px 6px 6px;
}

.labelSection {
    display: inline-block;
    font-weight: bold;
    padding-left: 34px;
    padding-right: 20px;
    width: 150px;
}

.codeTitle {
    padding: 10px 0 10px 10px;
    width: auto;
    color: #000;
}

.formRowSpacer {
    display: block;
    padding-top: 30px;
}

i .icon-doc-3 {
    font-size: 16px;
}

.formEntry .icon-plus-circle-1 {
    color: #008000;
    font-size: 22px;
}

.formEntry h4 {
    display: inline;
    font-size: 16px;
}

.icon-ok-circle-1:before {
    color: green;
    content: "";
}

.maintenanceCommand button {
    background-color: #000000;
    border-style: none;
    color: #FFFFFF;
    font-size: 13px;
    margin: 4px 0 2px 5px;
    padding: 6px 12px 6px 6px;
}