.maintenanceCommand
{
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    padding: 12px 0 12px 10px;
    width: 100%
}

#maintenanceCommand button {
    background-color: #000000;
    border-style: none;
    color: #FFFFFF;
    font-size: 13px;
    margin: 4px 6px 2px 0px;
    padding: 6px 12px 6px 6px;
}

