.inlineLabelSection {
    color: #3B5998;
    display: block;
    padding-left: 30px;
}

.inputSection {
    display: inline-block;
    display: block;
    font-weight: normal;
    padding-left: 0px;
}

.inputSection select {
    width: 200px;
}

#AvailableHoliday {
    width: 300px;
    height: 200px;
}

#AllHolidayGroup {
    width: 300px;
}

#HolidayGroup {
    width: 300px;
}

#AllocatedHoliday {
    width: 300px;
    height: 200px;
}