ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    background: none repeat scroll 0 0 #000;
    border: none;
    margin-right: 10px;
    width: 60px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: none repeat scroll 0 0 #000;
    border: none;
}
