.maintenanceCommand {
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    padding: 2px 0 2px 0px;
    width: 100%
}

.maintenanceCommand button {
    background-color: #000000;
    border-style: none;
    color: #FFFFFF;
    font-size: 13px;
    padding: 6px 12px 6px 6px;
}


#maintenanceCommand button {
    background-color: #000000;
    border-style: none;
    color: #FFFFFF;
    font-size: 13px;
    margin: 4px 6px 2px 0px;
    padding: 6px 12px 6px 6px;
}

.formRow {
    display: block;
    padding-bottom: 6px;
    padding-top: 6px;
}

.labelSection {
    display: inline-block;
    font-weight: bold;
    padding-left: 34px;
    padding-right: 20px;
    width: 139px;
}

.codeTitle {
    font-size: 1.5em;
    font-weight: bold;
    padding: 18px 0 24px 30px;
    width: 100%;
    color: #258AAF;
}

.formRowSpacer {
    display: block;
    padding-top: 30px;

}

i .icon-doc-3 {

    font-size: 16px;
}

.formEntry .icon-plus-circle-1 {
    color: #fff;
    font-size: 22px;
}

.formEntry h4 {
   display : inline;
   font-size : 16px;
    color: #fff;
}

.codeTitle {
    color: #258AAF;
    font-size: 1.5em;
    font-weight: bold;
    padding: 18px 0 24px 30px;
    width: 100%;
}

.viewLabelSection {
    display: inline-block;
    padding-left: 34px;
    padding-right: 20px;
    width: 150px;
}

.viewLabelSectionTitle {
    display: inline-block;
    font-weight: bold;
    padding-left: 34px;
    padding-right: 20px;
    width: 350px;
}

.formRowViewTitle {
    display: block;
    background-color : #6399C5;
}

.inputSection {

    font-weight: bold;
}

