.formRowView {
    display: block;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}

.labelSection {
    color: #3B5998;
    display: inline-block;
    padding-right: 20px;
    width: 153px;
    font-size: 14px;
    font-weight: normal;
}

.inputSection {
    display: inline-block;
    padding-left: 20px;
    width: 260px    ;
}

.sectionalForm {
    display: block;
    text-align: left;
}

.inlineLabelSection {
    display: inline-block;
    padding-left: 30px;
    width: 120px;
    color: #3B5998;
    font-size : 14px;
}

.rightLabelSection {
    display: inline-block;
    width: 120px;
    color: #3B5998;
    font-size : 14px;
}


.inlineLabelSectionExtra {
    display: inline;
    padding-left: 30px;
    width: 208px;
}

.rightSection {
   display : inline-block;
   width: 300px;
}


.rightSectionInline {
    display: inline;
}