.formRowView {
    display: block;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}

.labelSection {
    color: #3B5998;
    display: inline-block;
    padding-right: 20px;
    width: 153px;
    font-size: 14px;
    font-weight: normal;
}

.inputSection {
    display: inline-block;
    padding-left: 20px;
    width: 260px    ;
}

.sectionalForm {
    display: block;
    text-align: left;
}

.inlineLabelSection {
    display: inline-block;
    padding-left: 30px;
    width: 120px;
    color: #3B5998;
    font-size : 14px;
}

.rightLabelSection {
    display: inline-block;
    width: 120px;
    color: #3B5998;
    font-size : 14px;
}


.inlineLabelSectionExtra {
    display: inline;
    padding-left: 30px;
    width: 208px;
}

.rightSection {
   display : inline-block;
   width: 300px;
}

.rightSectionInline {
    display: inline;
}

#userCommand {
    text-align: center;
}



















.ui-tabs .ui-tabs-nav li {
    border-bottom: 0 none;
    float: left;
    list-style: none outside none;
    margin: 1px 0.2em 0 0;
    padding: 0;
    position: relative;
    top: 0;
    white-space: nowrap;
}


.ui-tabs .ui-tabs-nav li {
    border-bottom: 0 none !important;
    float: left;
    list-style: none outside none;
    margin: 0 0.2em 1px 0;
    padding: 0;
    position: relative;
    top: 1px;
    white-space: nowrap;
}


.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding-bottom: 1px;

}

.ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 transparent;
    border-width: 0;
    display: block;
    padding: 1em 1.4em;
}


.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
}


.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}


.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}


.ui-tabs .ui-tabs-hide {
    display: none !important;
}

.ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 transparent;
    border-width: 0;
    display: block;
    padding: 1em 1.4em;
}

