.overview .categories ul li:after {
    background: url("../images/shadow.png") repeat scroll 0 0 transparent;
    bottom: -14px;
    content: "";
    display: block;
    height: 14px;
    left: 0;
    position: absolute;
    width: 204px;
    z-index: 1;
}

.overview .categories ul li a.callout {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #FFFFFF 50%, #F0F0F0 100%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(top , #FFFFFF 0%, #FFFFFF 50%, #F0F0F0 100%) repeat scroll 0 0 transparent;
    border: 3px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px; 
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 12px;
    margin-bottom: 0;
    min-height: 300px;
    padding: 16px 16px 14px;
    text-align: center;
}

.overview .categories ul li {
    border: medium none;
    margin: 0 21px 20px 0;
    position: relative;
    width: 204px;
    z-index: 1;
}

.overview .categories ul {
    list-style: none outside none;
}


.overview .categories  {
    width:800px; margin:0 auto;   
}

.overview { 
   padding-top : 60px;
   min-height : 50%;
} 
.content .column {
    display: inline;
}
.column.first, .column.last {
    margin-left: 0 !important;
}
.grid4col .column {
    margin-left: 3%;
    width: 23%;
}
.column {
    float: left;
}

a.block {
    cursor: pointer;
    display: block;
}

.content a.block {
    color: #333333;
}

.overview .categories ul li img {
    margin-bottom: 2px;
}

.content .column {
    display: inline;
}

img {
    border: 0 none;
}

.icon-users:before {
    content: "👥";
    font-size: 100px;
}

.icon-wrench-2:before {
    content: "";
    font-size: 100px;
}

.icon-calendar:before {
    content: "📅";
    font-size: 100px;
}

.icon-money:before {
    content: "💰";
    font-size: 100px;
}